
@font-face{
  font-family: "icon";
  src:url('../fonts/icomoon.eot') format('embedded-opentype')
  ,url('../fonts/icomoon.woff') format("woff")
  ,url('../fonts/icomoon.ttf') format("truetype")
  ,url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 50px;
  font-size: 14px;
  font-family: "icon","Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.arrow_icon
{
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  line-height: 30px;


}
.sendIcon
{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #ccc;


}
.sendIcon:hover,.sendIconActive:hover
{
  color: #56bdcc;
}
.sendIconActive
{

  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #f5850c;
}

#hello
{
  height: 100%;
}
.root
{
  height:100%;

}
#hello ul>li
{
  font-size: 1.5rem;
}
a {
  margin-left:1rem;
}
#hello a:hover
{
  color: #f5292a;
}
.row
{
  background-color: #ccc;

}

 .roomList
 {
  position:absolute;
  left:0;
  top:0;
  width:20%;
  height:100%;
  overflow-y:scroll;
  background-color:#fff;
}
/*这是第二部分*/



.message_box
{
  position: absolute;
  left:20%;
  width:80%;
  height:100%;
  text-align: left;
  font-family: "icon","Lucida Grande", Helvetica, Arial, sans-serif;



}

.message
{
  position: absolute;
  right:20%;
  margin:0;
  width:80%;
  height:100%;
}
 .userList
 {
   position: absolute;
   right:0;
   margin:0;
   width:20%;
   height: 100%;
   overflow-y: scroll;
   background-color: #fff;
 }
/*第三部分*/
ul
{
  list-style: none;

}
input
{
  padding: 0;
}
a{
  text-decoration: none;
}
.col
{
  background-color: red;
}
.box
{
  background-color: #fff;
  padding: 5px 0;
  text-align: center;
}



/*里面放的是消息*/
.message_container
{
}

.send {
  width: 100%;
  font-size: 2em;
  padding: 0 5px 0 0;
  height: 10%;

}

.send input
{
  display: inline-block;
  width:calc(100% - 4em);
  height:2em;
  border-radius: 0.3em;
}

h1,h2,h3,h4
{
  text-align: center;
}
@media only screen and (max-width: 500px)
{


  .message_box
  {
    position: absolute;
    left: 0;

    width:100%;
    height:100%;
    text-align: left;
    font-family: "icon","Lucida Grande", Helvetica, Arial, sans-serif;



  }
  .message
  {
    position: absolute;
    right:0;
    margin:0;
    width:100%;
    height:100%;
  }
  .roomList
  {
    position:absolute;
    left:0;
    top:0;
    width:20%;
    height:100%;
    overflow-y:scroll;
    background-color:#fff;
    display: none;
  }
  .userList
  {
    position: absolute;
    right:0;
    margin:0;
    width:20%;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    display: none;
  }

}