#hello
{
	height: 100%;
}
.root
{
	height:100%;

}
#hello ul>li
{
	font-size: 1.5rem;
}
a {
	margin-left:2rem;
}
#hello a:hover
{
	color: #f5292a;
}
.row
{
	background-color: #ccc;

}
ul
{
	list-style: none;

}
input
{
	padding: 0;
}
a{
	text-decoration: none;
}
.col
{
	background-color: red;
}
.box
{
	background-color: #fff;
	padding: 5px 0;
	text-align: center;
}

.message_box
{
	height: 650px;
	text-align: left;

}
.message_container
{
}

.send
{
	width: 100%;
	font-size: 2em;
	padding: 0 5px 0 0;
	height:20%;
}

textarea
{
	margin:0;
	margin-top: 5px;

	width: calc(100% - 2px);
	border: 1px solid #108ee9;
	border-radius: 5px;

}
h1,h2,h3,h4
{
	text-align: center;
}
